<script type="text/javascript">
	$(document).ready(function() {
		// <!-- Select Multiple Tags -->
		$(".select-tags").select2({
			tags: false,
			theme: "bootstrap",
		})
	});
</script>
<div class="modal-content">
        <div class="modal-header bordered">
            <button class="close" type="button" ng-click="editSupervisorDlCtrl.close()">×</button>
            <h2 class="pmd-card-title-text">{{'UpdateSupervisorLbl' | translate}}</h2>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="updateSupervisorForm">
                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'UserName' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="userName" ng-model="editSupervisorDlCtrl.Supervisor.userName" ng-minlength="3" ng-maxlength="100">
                    <div ng-messages="updateSupervisorForm.userName.$error" >
                        <div ng-if="updateSupervisorForm.userName.$error.required && !updateSupervisorForm.userName.$pristine">{{'requiredErr' | translate}}</div>
                        <div ng-if="(updateSupervisorForm.userName.$error.minlength || updateSupervisorForm.userName.$error.maxlength) && !updateSupervisorForm.userName.$error.required">{{'NameLengthError' | translate}}</div>
                    </div>
                </div>
                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed" >
                        <label for="first-name">{{'SupervisorUserPasswordLbl' | translate}}</label>
                        <input required type="password" class="mat-input form-control" name="password" ng-model="editSupervisorDlCtrl.Supervisor.password" ng-minlength="8" ng-maxlength="25">
                        <div ng-messages="updateSupervisorForm.password.$error" >
                            <div ng-if="updateSupervisorForm.password.$error.required && !updateSupervisorForm.password.$pristine">{{'requiredErr' | translate}}</div>
                            <div ng-if="(updateSupervisorForm.password.$error.minlength || updateSupervisorForm.password.$error.maxlength) && !updateSupervisorForm.password.newPassword.$error.required">Password length must be 8-25 char.</div>
                        </div>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed" >
                        <label for="first-name">{{'ConfirmPasswordLbl' | translate}}</label>
                        <input required type="password" class="mat-input form-control" name="confirmPassword"  ng-model="editSupervisorDlCtrl.Supervisor.confirmPassword" equalto="updateSupervisorForm.password" >
                        <div ng-messages="updateSupervisorForm.confirmPassword.$error" >
                            <div ng-if="updateSupervisorForm.confirmPassword.$error.required && !updateSupervisorForm.confirmPassword.$pristine">{{'requiredErr' | translate}}</div>
                            <div ng-if="updateSupervisorForm.confirmPassword.$error.equalto && !updateSupervisorForm.confirmPassword.$error.required">Passwords don't match.</div>
                        </div>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed" >
                        <label>{{'selectFeatureLbl' | translate}}</label>
                        <select required class="form-control select-tags pmd-select2-tags" multiple
                        ng-change="editSupervisorDlCtrl.featureChange()" ng-model="editSupervisorDlCtrl.SelectedFeatureId" name="SelectedFeature">
                            <option ng-repeat="feature in editSupervisorDlCtrl.features" 
                            ng-value="{{feature.featureId}}">
                                {{feature.featureNameDictionary[editSupervisorDlCtrl.selectedLanguage]}}
                            </option>                    
                        </select>
                        <div ng-if="updateSupervisorForm.SelectedFeatureId.$error.required && !updateSupervisorForm.SelectedFeatureId.$pristine">{{'requiredErr' | translate}}</div>
                    </div>
            </form>
        </div>
        <div class="pmd-modal-action text-right">
            <button ng-disabled="updateSupervisorForm.$invalid || (editSupervisorDlCtrl.SelectedFeatureId.length<=0 )" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="editSupervisorDlCtrl.updateSupervisor()">{{'saveChangesBtn' | translate}}</button>
            <button class="btn pmd-ripple-effect btn-default" type="button" ng-click="editSupervisorDlCtrl.close()">{{'DiscardBtn' | translate}}</button>
        </div>
    </div>
    
        
    