<div class="modal-content">
	<div class="modal-header bordered">
		<h2 class="pmd-card-title-text">{{'UpdateRestaurantTypeLbl' | translate}}</h2>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="editTypeForm">
			<!-- <div ng-if="editRestTypeDlCtrl.mode=='map'">
				<select required class="select-simple form-control pmd-select2" 
						ng-options="item.typeName for item in editRestTypeDlCtrl.englishRestaurantType"  
						ng-model="editRestTypeDlCtrl.selectedType">
				</select>
				<div ng-if="editRestTypeDlCtrl.englishRestaurantType.length <=0">{{'NoSideItemDefault' | translate}} </div>                    				
			</div> -->
			<!-- <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
				<label for="first-name">{{'Name' | translate}}</label>
				<input required type="text" class="mat-input form-control" name="typeName" ng-model="editRestTypeDlCtrl.typeName" ng-minlength="3" ng-maxlength="40">
				<div ng-messages="editTypeForm.typeName.$error" >
					<div ng-if="editTypeForm.typeName.$error.required && !editTypeForm.typeName.$pristine">{{'requiredErr' | translate}}</div>
					<div ng-if="(editTypeForm.typeName.$error.minlength || editTypeForm.typeName.$error.maxlength) && !editTypeForm.typeName.$error.required">{{'NameLengthError' | translate}}</div>
                </div>
			</div> -->
			<div> 
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editRestTypeDlCtrl.language">
							<a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
								{{lang.value | translate}}
							</a>
						</li>
						<!-- <li role="presentation">
							<a href="javascript:void(0);" data-target="#arabic-form" aria-controls="about" role="tab" data-toggle="tab">{{'arabic' | translate}}</a>
						</li> -->
					</ul>
					<div class="pmd-card">
						<div class="pmd-card-body">
							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in editRestTypeDlCtrl.language" id="{{lang.value}}-form">
									<div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
										<label for="first-name"> {{ lang.value+'Name' | translate}} </label>
										<input required type="text" class="mat-input form-control" name="typeNameDictionary{{lang.value+'Name'}}" ng-model="editRestTypeDlCtrl.restaurantType.typeNameDictionary[lang.key]" ng-minlength="3" ng-maxlength="40">
										<div ng-messages="editTypeForm.typeNameDictionary{{lang.value+'Name'}}.$error" >
											
											<div ng-show="editTypeForm.typeNameDictionary{{lang.value+'Name'}}.$error.required && !editTypeForm.typeNameDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
											<div ng-show="(editTypeForm.typeNameDictionary{{lang.value+'Name'}}.$error.minlength || editTypeForm.typeNameDictionary{{lang.value+'Name'}}.$error.maxlength) && !editTypeForm.typeNameDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError' | translate}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

		</form>
	</div>
	<div class="pmd-modal-action text-right">
		<button ng-disabled="editTypeForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="editRestTypeDlCtrl.updateType()">{{'saveChangesBtn' | translate}}</button>
		<button class="btn pmd-ripple-effect btn-default" type="button" ng-click="$state.go('restaurantType');">{{'DiscardBtn' | translate}}</button>
	</div>
</div>

	
