<script type="text/javascript">
	$(document).ready(function() {
		// <!-- Select Multiple Tags -->
		$(".select-tags").select2({
			tags: false,
			theme: "bootstrap",
		})
	});
</script>
<style>
        .container {
        width: 750px;
        margin: auto;
    }
    
    .apps-container {
      border: 2px dotted blue;
      margin: 10px 10px 0 0;
      padding: 5px;
      /* min-width:200px; */
      width: 20%;
      min-height:50px;
    }
    
    .app {
        width: 170px;
        padding: 5px 10px;
        margin: 5px 0;
        border: 2px solid #444;
        border-radius: 5px;
        background-color: #EA8A8A;
    /* 
        font-size: 1.1em;
        font-weight: bold; */
        text-align: center;
        cursor: move;
        font-size: 15px;
        background-color: #4285f4;
        color: white;
    }
    
    </style>
<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'UpdateFeatureLbl' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editFeatureForm">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in editFeatureDlCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in editFeatureDlCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required type="text" class="mat-input form-control" name="featureNameDictionary{{lang.value+'Name'}}" ng-model="editFeatureDlCtrl.feature.featureNameDictionary[lang.key]" ng-minlength="3" ng-maxlength="40">
                                    <div ng-messages="editFeatureForm.featureNameDictionary{{lang.value+'Name'}}.$error">
                                        <div ng-show="editFeatureForm.featureNameDictionary{{lang.value+'Name'}}.$error.required && !editFeatureForm.featureNameDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                        <div ng-show="(editFeatureForm.featureNameDictionary{{lang.value+'Name'}}.$error.minlength || editFeatureForm.featureNameDictionary{{lang.value+'Name'}}.$error.maxlength) && !editFeatureForm.featureNameDictionary{{lang.value+'Name'}}.$error.required">{{'NameLengthError' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed" >       
                    <input id="logoImage" name="logoImage" style="display: none;" onchange="angular.element(this).scope().AddFeatureImage(this.files)" type="file" required>
                    <button ng-click="editFeatureDlCtrl.LoadUploadLogo()" >{{'UploadBtn' | translate}}</button>
                    <img ng-src="{{editFeatureDlCtrl.feature.imageURL}}" style="max-height: 200px;max-width: 200px;">
                    <div ng-messages="editFeatureForm.logoImage.$error" >
                        <div ng-if="editFeatureForm.logoImage.$error.required">{{'requiredErr' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed"  >
                    <label>{{'selectControlLbl' | translate}}</label>
                    <!-- <select  class="form-control select-tags pmd-select2-tags" multiple ng-model="editFeatureDlCtrl.SelectedControl" name="SelectedControl">
                        <option ng-repeat="control in editFeatureDlCtrl.controls"  ng-value="{{control}}">{{control.nameDictionary[selectedLanguage]}}</option>                    
                    </select> -->
                    <select required class="form-control select-tags pmd-select2-tags" multiple
                    ng-change="editFeatureDlCtrl.controlChange()" ng-model="editFeatureDlCtrl.SelectedControlId" name="SelectedControl">
                        <option ng-repeat="control in editFeatureDlCtrl.controls" 
                        ng-value="{{control.id}}">
                            {{control.text | translate}}
                        </option>                    
                    </select>
                    <div ng-if="editFeatureForm.SelectedControl.$error.required && !editFeatureForm.SelectedControl.$pristine">{{'requiredErr' | translate}}</div>
                </div>
                <label>{{'orderControlLbl' | translate}}</label>                
                <div ui-sortable="editFeatureDlCtrl.sortableOptions" class="apps-container screen floatleft"  ng-model="editFeatureDlCtrl.SelectedControl">
                    <div class="app" ng-repeat="item in editFeatureDlCtrl.SelectedControl" >
                        <!-- {{item}} -->
                        <span ng-repeat="controlEnum in editFeatureDlCtrl.controls|filter: {id: item}"> {{controlEnum.text | translate}} </span>
                    </div>
                </div>
            </div>

        </form>

       
    </div>
</div>
<div class="pmd-modal-action text-right">
    <button ng-disabled="editFeatureDlCtrl.featureDetailExist || editFeatureForm.$invalid 
    || editFeatureDlCtrl.SelectedControl.length <= 0 " class="btn pmd-ripple-effect btn-primary" type="button" ng-click="editFeatureDlCtrl.updateFeature()">{{'saveChangesBtn' | translate}}</button>
    <button class="btn pmd-ripple-effect btn-default" type="button" ng-click="editFeatureDlCtrl.close()">{{'DiscardBtn' | translate}}</button>
</div>
</div>


