<div ng-class="{page2:(selectedLanguage == 'en-us' && (pageitems.pageNumber % 2) === 0) || (selectedLanguage == 'ar-eg' && (pageitems.pageNumber % 2) !== 0)
    , page1:(selectedLanguage == 'en-us' && (pageitems.pageNumber % 2) !== 0) || (selectedLanguage == 'ar-eg' && (pageitems.pageNumber % 2) === 0)}">
    <div class="img_header">
        <img ng-src="{{pageitems.itemModels[0].imageURL}}" style="max-height: 139px" />
        <!-- <img src="assets/img/img1.jpg" /> -->

    </div>
    <div class="main_data">
        <div class="col-sm-8 col-xs-8 col-md-8">
            <h3>
                {{pageitems.itemModels[0].itemNameDictionary[selectedLanguage] < 20 ? 'pageitems.itemModels[0].itemNameDictionary[selectedLanguage]' : pageitems.itemModels[0].itemNameDictionary[selectedLanguage] | limitTo:20}}
            </h3>
            <!-- <p style="white-space: pre;min-height: 40px;">{{pageitems.itemModels[0].itemDescription | limitTo:50}} </p> -->
            <p style="min-height: 40px;">

                {{pageitems.itemModels[0].itemDescriptionDictionary[selectedLanguage] < 90 ? 'pageitems.itemModels[0].itemDescriptionDictionary[selectedLanguage]' : pageitems.itemModels[0].itemDescriptionDictionary[selectedLanguage] | limitTo:155}}

            </p>

        </div>

        <div class="col-sm-4 col-xs-4 col-md-4">
            <div class="row" style="    margin-left: -13px;padding-top: 26px!important; ">
                <div class="col-sm-7 col-xs-7 col-md-7 no_padding">
                    <div class="item_price" ng-repeat="size in pageitems.itemModels[0].sizes |limitTo:3"><h5 class="y_price">{{size.price}}</h5> <span class="ssss">{{size.sizeNameDictionary[selectedLanguage]}}</span></div>
                    <!-- <p class="item_price">180 <span>S</span></p>
                    <p class="item_price">180 <span>S</span></p> -->
                </div>
                <div class="col-sm-5 col-xs-5 col-md-5 edits no_padding">
                    <a href="javascript:void(0);" ng-click="viewItemDetail(pageitems.itemModels[0])" data-lity-target="#inline2" data-lity><img src="assets/img/view.png" alt="" /></a>
                    <!-- <a href="#"><img src="assets/img/plus.png" alt="" /></a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="main_data" ng-show="pageitems.itemModels[1] != null">
        <div class="col-sm-8 col-xs-8 col-md-8">
            <h3>
                {{pageitems.itemModels[1].itemNameDictionary[selectedLanguage] < 20 ? 'pageitems.itemModels[1].itemNameDictionary[selectedLanguage]' : pageitems.itemModels[1].itemNameDictionary[selectedLanguage] | limitTo:20}}
            </h3>

            <p style="min-height: 40px;">

                {{pageitems.itemModels[1].itemDescriptionDictionary[selectedLanguage] < 90 ? 'pageitems.itemModels[1].itemDescriptionDictionary[selectedLanguage]' : pageitems.itemModels[1].itemDescriptionDictionary[selectedLanguage] | limitTo:155}}

            </p>
            <div class="col-sm-12 col-xs-12 col-md-12 no_padding">

                <div class="col-sm-5 col-xs-5 col-md-5 no_padding">
                    <div class="item_price" ng-repeat="size in pageitems.itemModels[1].sizes |limitTo:3"><h5 class="y_price">{{size.price}}</h5> <span class="ssss">{{size.sizeNameDictionary[selectedLanguage]}}</span></div>
                    <!-- <p class="item_price">180 <span>S</span></p>
                    <p class="item_price">180 <span>S</span></p>
                    <p class="item_price">180 <span>S</span></p> -->
                </div>
                <div class="col-sm-7 col-xs-7 col-md-7 edits no_padding">

                    <a href="javascript:void(0);" ng-click="viewItemDetail(pageitems.itemModels[1])" data-lity-target="#inline2" data-lity><img src="assets/img/view.png" alt="" /></a>
                    <!-- <a href="#"><img src="assets/img/plus.png" alt="" /></a> -->
                    <a style="cursor: pointer;" ng-click="addItemToCart(pageitems.itemModels[0])">
                        <!-- <img src="assets/img/plus.png" alt="" /> -->
                    </a>
                </div>

            </div>

        </div>

        <div class="col-sm-4 col-xs-4 col-md-4">
            <img ng-src="{{pageitems.itemModels[1].imageURL}}?type=orignal2" style="max-height: 69px;" alt="" />
        </div>
    </div>
    <div class="main_data" ng-show="pageitems.itemModels[2] != null">
        <div class="col-sm-4 col-xs-4 col-md-4">
            <img ng-src="{{pageitems.itemModels[2].imageURL}}?type=orignal2" style="max-height: 69px;" alt="" />
        </div>
        <div class="col-sm-8 col-xs-8 col-md-8">
            <h3>
                {{pageitems.itemModels[2].itemNameDictionary[selectedLanguage] < 20 ? 'pageitems.itemModels[2].itemNameDictionary[selectedLanguage]' : pageitems.itemModels[2].itemNameDictionary[selectedLanguage] | limitTo:20}}

            </h3>

            <p style="min-height: 40px;">

                {{pageitems.itemModels[2].itemDescriptionDictionary[selectedLanguage] < 90 ? 'pageitems.itemModels[2].itemDescriptionDictionary[selectedLanguage]' : pageitems.itemModels[2].itemDescriptionDictionary[selectedLanguage] | limitTo:155}}

            </p>
            <div class="col-sm-12 col-xs-12 col-md-12 no_padding">
                <div class="col-sm-5 col-xs-5 col-md-5 no_padding">
                    <div class="item_price" ng-repeat="size in pageitems.itemModels[2].sizes |limitTo:3"><h5 class="y_price">{{size.price}}</h5> <span class="ssss">{{size.sizeNameDictionary[selectedLanguage]}}</span></div>
                    <!-- <p class="item_price">180 <span>S</span></p>
                    <p class="item_price">180 <span>S</span></p>
                    <p class="item_price">180 <span>S</span></p> -->
                </div>
                <div class="col-sm-7 col-xs-7 col-md-7 edits no_padding">
                    <a href="javascript:void(0);" ng-click="viewItemDetail(pageitems.itemModels[2])" data-lity-target="#inline2" data-lity><img src="assets/img/view.png" alt="" /></a>
                    <!-- <a href="#"><img src="assets/img/plus.png" alt="" />
                    </a> -->
                </div>
            </div>
        </div>

    </div>
</div>
