
<div class="modal-content">
    <div class="modal-header bordered">
        <button class="close" type="button" ng-click="supervisorDlCtrl.close()">×</button>
        <h2 class="pmd-card-title-text">    {{featureDetailCtrl.feature.featureNameDictionary[featureDetailCtrl.language]}}</h2>
    </div>
    <div class="modal-body">
       <div ng-if="featureDetailCtrl.feature.featureDetails.length > 0">
        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th >{{'Name' | translate}}</th>
                        <th>{{'priceLbl' | translate}}</th>                        
                        <th ></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="featureDetail in featureDetailCtrl.feature.featureDetails">
                        <td data-title="Name" >{{featureDetail.descriptionDictionary[featureDetailCtrl.language]}}</td>
                        <td data-title="Name">
                                <span ng-if="featureDetail.isFree">{{'freelbl' |translate}}</span>
                                <span ng-if="!featureDetail.isFree">{{featureDetail.price}}</span>
                            </td>
                        <td width="30%">
                            <a>Request</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align:center;" paging page="1" page-size="10" total="featureDetailCtrl.features.totalCount" paging-action="featureCtrl.changePage( page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
           </div>
       </div>
    </div>
    <div class="pmd-modal-action text-right">
        <button class="btn pmd-ripple-effect btn-primary" type="button" ng-click="supervisorDlCtrl.AddNewSupervisor()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" type="button" ng-click="supervisorDlCtrl.close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>
