<div >
    <div style="margin-bottom:10px">
        <button  ng-click="$state.go('newbranch');" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddBranchBtn' | translate}}</button>
        
    </div>
    
    <div ng-if="branchCtrl.branches.results.length == 0">
            <span>{{'NoBranchAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="branchCtrl.branches.results.length > 0">
        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th >{{'Title' | translate}}</th>
                        <th >{{'Address' | translate}}</th>
                        <th >{{'status' | translate}}</th>
                        <th ></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="branch in branchCtrl.branches.results">
                        <td data-title="Name" >{{branch.branchTitleDictionary[selectedLanguage]}}</td>
                        <td data-title="Address" >{{branch.branchAddressDictionary[selectedLanguage]}}</td>
                
                        <!-- <td></td> -->
                        <td>
                            <a ng-show="!branch.isActive" ng-click="branchCtrl.Activate(branch)" class="cursorPointer">{{'ActivateBtn' | translate}}</a>
                            <a ng-show="branch.isActive" ng-click="branchCtrl.Deactivate(branch)" class="cursorPointer">{{'DeActivateBtn' | translate}}</a>
                        </td>
                        <td width="30%">
                            <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editbranch',{branchId: branch.branchId});">mode_edit</i> 
                            <i class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="branchCtrl.openDeleteBranchDialog(branch.branchTitle,branch.branchId)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align:center;" paging page="1" page-size="10" total="branchCtrl.branches.totalCount" paging-action="branchCtrl.changePage( page)"
        flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
           </div>
    </div> 


</div>					
