<div>
    <div style="margin-bottom:10px">
        <button ng-click="$state.go('newCategory');" class="btn pmd-ripple-effect btn-primary pmd-z-depth"
            type="button">{{'AddCategoryBtn' | translate}}</button>
        <!-- <span ng-if="!categoryCtrl.categories.isParentTranslated"> <i class="material-icons md-dark pmd-md warrningIcon">warning</i> {{'MenuNotTranslated' | translate}}</span> -->
    </div>

    <div ng-if="categoryCtrl.categories.results.length == 0">
        <span>{{'NoCategoryAvailable' | translate}}</span>
    </div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="categoryCtrl.categories.results.length > 0">
        <div class="table-responsive">
            <table class="table pmd-table table-hover">
                <thead>
                    <tr>
                        <th>{{'Name' | translate}}</th>
                        <th>{{'Imagelbl' | translate}}</th>
                        <th>{{'status' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in categoryCtrl.categories.results">
                        <td data-title="Name">{{category.categoryNameDictionary[selectedLanguage]}}</td>
                        <td data-title="Image"><img ng-src="{{category.imageURL}}?type='thumbnail'&date={{categoryCtrl.Now}}"
                                ng-alt="{{category.categoryName}}" style="max-height: 200px;max-width: 200px;" /></td>
                        <!-- <td></td> -->
                        <td>
                            <input type="checkbox" ng-model="category.isActive" name="name"
                            ng-click="categoryCtrl.UpdateStatus(category)" title="click To Update user status">

                            <!-- <a ng-show="!category.isActive" ng-click="categoryCtrl.Activate(category)" class="cursorPointer">{{'ActivateBtn'
                                | translate}}</a>
                            <a ng-show="category.isActive" ng-click="categoryCtrl.Deactivate(category)" class="cursorPointer">{{'DeActivateBtn'
                                | translate}}</a>

                                <input type="checkbox" ng-model="category.isActive" name="namede"
                                ng-show="!category.isActive" ng-click="categoryCtrl.Activate(category)" title="click To Update user status">
    -->
                        </td>
                        <td width="30%">
                            <a ng-click="$state.go('Items', {categoryId: category.categoryId});" class="cursorPointer">{{'ItemsBtn'
                                | translate}}</a>
                            <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="$state.go('editCategory',{menuId: $stateParams.menuId , categoryId:category.categoryId});">mode_edit</i>
                            <i class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="categoryCtrl.openDeleteCategoryDialog(category.categoryName,category.categoryId)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align:center;" paging page="1" page-size="10" total="categoryCtrl.categories.totalCount"
            paging-action="categoryCtrl.changePage( page)" flex="nogrow" show-prev-next="true" show-first-last="true"
            hide-if-empty="true" disabled-class="hide">
        </div>
    </div>


</div>