<div class="modal-content">
    <div class="modal-header bordered">
        <h2 class="pmd-card-title-text">{{'newBranchLbl' | translate}}</h2>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="newBranchForm">
            <div> 
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in branchDlCtrl.language">
                        <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                            {{lang.value | translate}}
                        </a>
                    </li>
                    <!-- <li role="presentation">
                        <a href="javascript:void(0);" data-target="#arabic-form" aria-controls="about" role="tab" data-toggle="tab">{{'arabic' | translate}}</a>
                    </li> -->
                </ul>
                <div class="pmd-card">
                    <div class="pmd-card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in branchDlCtrl.language" id="{{lang.value}}-form">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                    <input required type="text" class="mat-input form-control" name="branchTitleDictionary{{lang.value+'Name'}}" ng-model="branchDlCtrl.branchTitleDictionary[lang.key]" ng-minlength="3" ng-maxlength="40">
                                    <div ng-messages="newBranchForm.branchTitleDictionary{{lang.value+'Name'}}.$error" >
                                        <div ng-show="newBranchForm.branchTitleDictionary{{lang.value+'Name'}}.$error.required && !newBranchForm.branchTitleDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                        <div ng-show="(newBranchForm.branchTitleDictionary{{lang.value+'Name'}}.$error.minlength || newBranchForm.branchTitleDictionary{{lang.value+'Name'}}.$error.maxlength) && !newBranchForm.branchTitleDictionary{{lang.value+'Name'}}.$error.required">{{'SizeLengthError' | translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="first-name">{{ lang.value+'Address' | translate}}</label>
                                    <input required type="text" class="mat-input form-control" name="branchAddressDictionary{{lang.value+'Name'}}" ng-model="branchDlCtrl.branchAddressDictionary[lang.key]"  ng-minlength="3" ng-maxlength="300">
                                    <div ng-messages="newBranchForm.branchAddressDictionary{{lang.value+'Name'}}.$error" >
                                        <div ng-show="newBranchForm.branchAddressDictionary{{lang.value+'Name'}}.$error.required && !newBranchForm.branchAddressDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                        <div ng-show="(newBranchForm.branchAddressDictionary{{lang.value+'Name'}}.$error.minlength || newBranchForm.branchAddressDictionary{{lang.value+'Name'}}.$error.maxlength) && !newBranchForm.branchAddressDictionary{{lang.value+'Name'}}.$error.required">{{'DescLengthError' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="first-name">{{'Title' | translate}}</label>
                <input required type="text" class="mat-input form-control" name="branchTitle" ng-model="branchDlCtrl.branchTitle"  ng-minlength="3" ng-maxlength="40">
                <div ng-messages="newBranchForm.branchTitle.$error" >
                    <div ng-if="newBranchForm.branchTitle.$error.required && !newBranchForm.branchTitle.$pristine">{{'requiredErr' | translate}}</div>
                    <div ng-if="(newBranchForm.branchTitle.$error.minlength || newBranchForm.branchTitle.$error.maxlength) && !newBranchForm.branchTitle.$error.required">{{'NameLengthError' | translate}}</div>
                </div>
            </div>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="first-name">{{'Address' | translate}}</label>
                <input required type="text" class="mat-input form-control" name="branchAddress" ng-model="branchDlCtrl.branchAddress"  ng-minlength="3" ng-maxlength="300">
                <div ng-messages="newBranchForm.branchAddress.$error" >
                    <div ng-if="newBranchForm.branchAddress.$error.required && !newBranchForm.branchAddress.$pristine">{{'requiredErr' | translate}}</div>
                    <div ng-if="(newBranchForm.branchAddress.$error.minlength || newBranchForm.branchAddress.$error.maxlength) && !newBranchForm.branchAddress.$error.required">{{'DescLengthError' | translate}}</div>
                </div>
            </div> -->
        </form>
    </div>
    <div class="pmd-modal-action text-right">
        <button ng-disabled="newBranchForm.$invalid  || branchDlCtrl.isChanged" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="branchDlCtrl.AddNewBranch()">{{'saveChangesBtn' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-default" type="button" ng-click="branchDlCtrl.close()">{{'DiscardBtn' | translate}}</button>
    </div>
</div>

    
