<div class="modal-content">
        <div class="modal-header bordered">
            <h2 class="pmd-card-title-text">{{'NewSizeLbl' | translate}}</h2>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="newSizeForm">
                <div> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active':$index == 0}" ng-repeat="lang in sizeDlCtrl.language">
                            <a href="javascript:void(0);" data-target="#{{lang.value}}-form" aria-controls="home" role="tab" data-toggle="tab">
                                {{lang.value | translate}}
                            </a>
                        </li>
                        <!-- <li role="presentation">
                            <a href="javascript:void(0);" data-target="#arabic-form" aria-controls="about" role="tab" data-toggle="tab">{{'arabic' | translate}}</a>
                        </li> -->
                    </ul>
                    <div class="pmd-card">
                        <div class="pmd-card-body">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tablist" class="tab-pane" ng-class="{'active':$index == 0}" ng-repeat="lang in sizeDlCtrl.language" id="{{lang.value}}-form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="first-name"> {{ lang.value+'Name' | translate}} </label>
                                        <input required type="text" class="mat-input form-control" name="sizeNameDictionary{{lang.value+'Name'}}" ng-model="sizeDlCtrl.sizeNameDictionary[lang.key]" ng-minlength="3" ng-maxlength="10">
                                        <div ng-messages="newSizeForm.sizeNameDictionary{{lang.value+'Name'}}.$error" >
                                            
                                            <div ng-show="newSizeForm.sizeNameDictionary{{lang.value+'Name'}}.$error.required && !newSizeForm.sizeNameDictionary{{lang.value+'Name'}}.$pristine">{{'requiredErr' | translate}}</div>
                                            <div ng-show="(newSizeForm.sizeNameDictionary{{lang.value+'Name'}}.$error.minlength || newSizeForm.sizeNameDictionary{{lang.value+'Name'}}.$error.maxlength) && !newSizeForm.sizeNameDictionary{{lang.value+'Name'}}.$error.required">{{'SizeLengthError' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="first-name">{{'Name' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="sizeName" ng-model="sizeDlCtrl.sizeName"  ng-minlength="3" ng-maxlength="10">
                    <div ng-messages="newSizeForm.sizeName.$error" >
                        <div ng-if="newSizeForm.sizeName.$error.required && !newSizeForm.sizeName.$pristine">{{'requiredErr' | translate}}</div>
                        <div ng-if="(newSizeForm.sizeName.$error.minlength || newSizeForm.sizeName.$error.maxlength) && !newSizeForm.sizeName.$error.required">{{'SizeLengthError' | translate}}</div>
                    </div>
                </div> -->
            </form>
        </div>
        <div class="pmd-modal-action text-right">
            <button ng-disabled="newSizeForm.$invalid || sizeDlCtrl.isChanged" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="sizeDlCtrl.AddNewSize()">{{'saveChangesBtn' | translate}}</button>
            <button class="btn pmd-ripple-effect btn-default" type="button" ng-click="sizeDlCtrl.close()">{{'DiscardBtn' | translate}}</button>
        </div>
    </div>
    
        
    