<div >
        <div style="margin-bottom:10px">
            <button  ng-click="sideItemCtrl.openSideItemDialog()" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">{{'AddSideItemBtn' | translate}}</button>
    
        </div>
        <div ng-if="sideItemCtrl.sideItems.results.length == 0">
                <span>{{'NoSideItemsAvailable' | translate}}</span>
            </div>
        <div class="pmd-card pmd-z-depth pmd-card-custom-view" ng-if="sideItemCtrl.sideItems.results.length > 0">
            <div class="table-responsive">
                <table class="table pmd-table table-hover">
                    <thead>
                        <tr>
                            <th >{{'Name' | translate}}</th>
                            <th >{{'value' | translate}}</th>
                            <th ></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in sideItemCtrl.sideItems.results">
                            <td data-title="Name" width="40%">{{item.sideItemName}}</td>
                            <td data-title="Name" width="40%">{{item.value}}</td>
                            <td  width="20%">
                                <i class="material-icons md-dark pmd-md cursorPointer font25" ng-click="sideItemCtrl.openEditSideItemDialog($index)">mode_edit</i> 
                                <i class="material-icons pmd-md deleteButton cursorPointer font25" ng-click="sideItemCtrl.openDeleteSideItemDialog(item.sideItemName,item.sideItemId)">delete</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align:center;" paging page="1" page-size="10" total="sideItemCtrl.sideItems.totalCount" paging-action="sideItemCtrl.changePage( page)"
            flex="nogrow" show-prev-next="true" show-first-last="true" hide-if-empty="true" disabled-class="hide">
               </div>
        </div> 
    
    
    </div>					
    